{% extends "base.html" %}

{% block title %}Speech{% endblock %}

{% load staticfiles %}
{% block styles %}
<link rel="stylesheet" href="{% static 'speech/speech.css' %}">
{% endblock %}
{% block scripts %}
<script src="{% static 'speech/speech.js' %}"></script>
{% endblock %}

{% block content %}
<div class="content_align_vertical">
	<div class="content_align_horizontal">
		<div align="center">
		<!--h1 Speech App for {{ user.username }} /h1-->
			{% if fileError %}
			<div class="content_background">
				<p class="error">{{ fileError }}</p>
				<!--a href="{% url "transcript" %}"> <strong>Re-enter your transcript <strong></a-->
				</div>
				{% else %}
			{% if textError %}
				<div class="content_background">
					<p class="error">{{ textError }}</p>
					<!--a href="{% url "transcript" %}">
					<strong>Enter transcript or text file</strong>
				</a-->
				</div>
			{% else %}
			<!--p>Transcript entered from previous page:</p-->
			<div class="content_background">
				<h2>Transcript</h2>
				If you do not see your transcript, please try to enter it again
				<br>
				 <textarea cols='70' rows='10' id="transcript">{{ uform }}</textarea>
			
		<!-- {{uform}} -->
	</div>
	<br>
	<div class="content_background">
		<h2>Speech</h2>
		Now, record with the button below. When ready, click it again to finish.
		<br>
		<form method="post" action="{% url "results" %}" id="speech" enctype="multipart/form-data">
			{% csrf_token %}
			<p style="line-height: 25px">
				<!--{{ uform }}-->
				{{ sform }}
				<br>
				<input type="submit" value="Submit File to Speech Page" class="button"/>
			</p>
		</form>
		<script>
			document .getElementById ("id_reference") .value = document .getElementById ("transcript") .value ;
		</script>
		<!-- <textarea id="results" cols="70" rows="10">{{sform}}</textarea>
	-->
	<!-- <br>
	-->
	<button id="button" class ="button" onclick="toggleStartStop()"></button>
	<span id="final_span" style="display: none"></span>
	<br>
	<span id="interim_span"></span>
</div>
<br>
{% endif %}
		{% endif %}
<br>
<div class="content_background">
	<a href="{% url "transcript" %}">
		<strong>Enter new Transcript</strong>
	</a>
	<br>
	<a href="/info/"><strong>FAQ</strong></a><br>
	<a href="/logout/">
		<strong>Logout</strong>
	</a>
</div>
</div>
</div>
</div>
{% endblock %}