{% extends "base.html" %}

{% block title %}Speech{% endblock %}

{% load staticfiles %}
{% block styles %}
<link rel="stylesheet" href="{% static 'speech/speech.css' %}">
{% endblock %}
{% block scripts %}
	<script src="{% static 'speech/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'speech/speech.js' %}"></script>	
	<script>
		var URL = "{% url 'get_speech' %}";		
	</script>
{% endblock %}

{% block content %}
<div class="content_align_vertical">
<div class="content_align_horizontal">
<div align="center">
	{% if fileError %}
		<div class="content_background">
			<p class="error">{{ fileError }}</p>
		</div>
	{% elif textError %}
		<div class="content_background">
			<p class="error">{{ textError }}</p>
		</div>
	{% else %}
		<div class="content_background">
			<h2 style="line-height:80%;">Transcript</h2>
			If you do not see your transcript, please try to enter it again
			<br>
			<textarea id="transcript" cols='70' rows='10' class="textarea" readonly="readlonly">{{ uform }}</textarea>
			<br>
			<a href="{% url 'transcript' %}"><strong>Enter new Transcript</strong></a>
		</div>
		<br>
		<div class="content_background">
			<h2 style="line-height:80%;">Speech</h2>
			Now, record with the button below. When ready, click it again to finish.<br>
			<textarea id="speech" cols="70" rows="10" class="textarea"></textarea>
			<br>
			<button id="sb2" class="button" onclick="history.go(0)">Restart Speech</button>
			<button id="sb1" onclick="toggleStartStop()"><img alt="Start" id="start_img" src="{% static 'speech/images/mic.gif' %}" width="40" height="40">
			</button>
			<form action="{% url 'results' %}" id='sb3'>
				<input type="submit" value="Evaluate Speech" class="button"/>
			</form>
			<span id="final_span" style="display: none"></span>
			<br>
			<span id="interim_span"></span>
		</div>
	{% endif %}
	<br>
	<div class="content_background">		
		<table class="center" border="0">			
			<tr><th align="center"><a href="{% url 'home' %}">Home</a> | <a href="{% url 'info' %}">FAQ</a> | <a href="{% url 'logout_page' %}">Logout</a></th></tr>	
		</table>
	</div>
</div>
</div>
</div>
{% endblock %}