{% extends "base.html" %}
{% block title %}Speech_01{% endblock %}
{% block content %}

	<div id='text-input'>
  <h1>Title Here</h1>
  <p>Below, please type or paste a transcript of what you will record:</p>
  <textarea cols="100" rows="10" autofocus></textarea>
	</div>
	<div id='interface'>
		<p>Now, record with the button below. When ready, click again to stop recording and evaluate.</p>
		<!-- <textarea id="results" cols="100" rows="10"></textarea> -->
		<!-- <br><br> -->
		<button id="button" onclick="toggleStartStop()"></button>
		<span id="final_span"></span>
		<br><br>
		<span id="interim_span"></span>
		<br>
		<a href="/logout/">Logout</a>
	</div>

	{% endblock %}