#sb1 {
    border: 0;
    background-color:transparent;
    padding: 0;	
	cursor: pointer;
}

#tb1 {
	display: inline-block;
    border: 0;
    background-color:transparent;
    padding: 0;	
	cursor: pointer;
}

#sb3{
	display: inline;
}

#interim_span{
	color: grey;
}

.interim {
    color: gray;
}

.final {
    color: black;
    padding-right: 3px;
}

#results {
    font-family: Consolas, Courier New, monospace;
    border: 1px solid #ddd;
    padding: 1px;
    text-align: left;
    min-height: 150px;
	width: 600px;
	background-color: white;
}

.textarea{
	font-size: 14px;
}