{% extends "base.html" %}

{% block content %}
	<div id='interface'>
		<p>Login</p>
		{% if form.errors %}
			<h3>Your username and password didn't match. Please try again.</h3>
		{% endif %}
		<form method="post" action=".">{% csrf_token %}
			<table class='center' border="0">
				<tr><th><label for="id_username">Username:</label></th><td>{{ form.username }}</td></tr>
				<tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>
			</table>
			<input type="submit" value="Login" />
			<input type="hidden" name="next" value="/home" />
		</form>
		<a href="/register">Register</a>
	</div>
{% endblock %}