{% extends "base.html" %}

{% block title %}Information{% endblock %}

{% block content %}
	<div class="content_align_vertical">
	<div class="content_align_horizontal">
	<div class="content_background" 
	style="max-width: 80%;">
	<table class="center" border="0">
		<tr>
			<td>
				<h1> Information </h1>
				<ul id="faq">
					<li>Description</li>
					<ul id="faq1">
						<li><strong>MIRROR MIRROR</strong> is a web application designed to help you practice your speech. You provide the transcript for what you want to say, and <strong>MIRROR MIRROR</strong> will reflect your spoken input back to you with feedback on what it heard.</li>
					</ul>
					<li>Instructions</li>
					<ul id="faq1">
						<li>Login</li>
						<ul id="faq2">
							<li>If you've already created a user, go ahead and log in. Otherwise, click on Register to enter your information and get started.</li>
						</ul>
						<li>Transcript</li>
						<ul id="faq2">
							<li>Once you're logged in, click on "Speech App" to enter the application. The page will prompt you to enter the text of your speech and submit it. You can use either of the following methods:</li>
							<ul id="faq3">
								<li>Choose and load a file with your speech from your computer</li>
								<li>Type or Paste your speech into the provided text box</li>
							</ul>
						</ul>
						<li>Speech</li>
						<ul id="faq2">
							<li>The entered transcript for your speech will be reflected in the first mirror. Once you're ready, use the button "Click to Speak" and start talking. At any point you can hit "Click to Stop" to pause your speech and then use "Click to Speak" to pick up where you left off. The second mirror will reflect back what it hears from you.</li>
						</ul>
						<li>Feedback</li>
						<ul id="faq2">
							<li>Once you're done speaking, the results page will compare your transcript with the speech it heard and give you some feedback, with an accuracy percentage and a comparison of what the mirror heard against the transcript.</li>
						</ul>
					</ul>
					<li>Limitations</li>
					<ul id="faq2">
						<li>At this point in time, the mirror can only reflect back .txt files for the file uploaded transcript. You'll be notified of the problem if your loaded file is not supported.</li>
					</ul>
				</ul>
			</td>
		</tr>
		<tr>
			<td align="center">
				<button onclick="goBack()" class="button" align="center">Return to Previous Page</button>
			</td>				
		</tr>
	</table>
	<script>
		function goBack() {
			window.history.back();
		}
	</script>
	</div>
	</div>
	</div>
{% endblock %}	