{% extends "userlog/userlog_base.html" %}

{% block title %}User Registration{% endblock %}

{% block userlog_content %}
	<form method="post" action=".">{% csrf_token %}
		<table class = 'center' border="0">
			{{ form.as_table }}
			<tr><td colspan="2"></td></tr>
			<tr><td colspan="2"></td></tr>
			<tr>
			    <td colspan="2" align="center">
				    <input type="submit" value="Register" class="button"/>
				</td>
			</tr>
		</table>		
	</form>	
	<table class="center" border="0">		
		<tr><th align="center"><a href="{% url 'login_page' %}">Login</a></th></tr>
		<tr><th align="center"><a href="{% url 'info' %}">FAQ</a></th></tr>	
	</table>
{% endblock %}