body {
  text-align: center;
  font-family: Helvetica, Verdana, sans-serif;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#interface{
	text-align: center;
}
p{
	font-size: 16pt;
	color: green;
}
table.center {
	margin-left:auto;
	margin-right:auto;
}
#button {
	font-size: 12pt;
	width: 150px;
	height: 30px;
}
#interim_span{
	color: grey;
}
